@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

:root {
  --background-color: #333;
  --accent-color: rgb(0, 140, 255);
  --text-color: rgb(228, 228, 228);
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

/* login page */

.login {
  font-size: 32px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px 10px;
  border: 6px solid var(--accent-color);
  border-radius: 60px;
}

@media screen and (max-width: 600px) {
  .login {
    width: auto;
    margin: 50px 10px;
  }
}

.login .login-title {
  color: var(--accent-color);
  text-align: center;
}

.login-form {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.login-form .email-label,
.login-form .password-label {
  display: block;
  margin-bottom: 8px;
  margin-left: 10%;
}

.login-form .email-input,
.login-form .password-input {
  display: block;
  font-size: 24px;
  padding: 6px 15px;
  height: fit-content;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid black;
  outline: none;
}

.login-form input:hover,
.login-form input:focus {
  border: 2px solid var(--accent-color);
}

.login-form .buttons {
  display: flex;
}

.login-form .buttons button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 4px solid var(--background-color);
  outline: none;
  background-color: var(--accent-color);
}

.login-form .buttons button:hover {
  animation: darkenAccentColor 500ms forwards;
}

.login-form .buttons button:focus {
  border: 4px solid var(--accent-color);
}

@keyframes darkenAccentColor {
  to {
    background-color: rgb(1, 95, 172);
  }
}

.login .error-message {
  text-align: center;
  margin: 20px 0;
}

/* navbar */

.navbar {
  position: sticky;
  top: 0;
  box-shadow: 0 1px 6px 2px #111;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: baseline;
  font-size: 32px;
  background-color: var(--background-color);
  z-index: 9999;
}

.navbar .title-and-dropdown {
  flex: 1;
  text-align: left;
  margin-left: 20px;
}

/* navbar .dropdown */

.navbar .dropdown {
  background-color: var(--background-color);
  border: none;
  margin-right: 20px;
}

.navbar svg {
  cursor: pointer;
  background-color: var(--background-color);
  width: 60px;
  height: 50px;
  border-radius: 10px;
}

.navbar #dropdown {
  fill: var(--accent-color);
}

.navbar rect {
  transition: all 300ms;
}

.navbar svg:hover rect,
.navbar svg:focus rect {
  transform: translateY(calc(10px * var(--move-direction)));
}

.navbar .dropdown-list {
  background-color: var(--background-color);
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 25%;
  height: calc(100vh - 38px);
  padding: 15px 10px;
  list-style: none;
  border: 4px solid #222;
  border-radius: 0 20px 20px 0;
  animation: popup 200ms ease-out forwards;
}

@keyframes popup {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}

.navbar .dropdown-list:not(:focus) {
  animation-name: popdown;
  animation-duration: 200ms;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes popdown {
  from {
    width: 25%;
  }
  to {
    width: 0;
  }
}

@media screen and (max-width: 880px) {
  .navbar .dropdown-list {
    width: 75%;
  }

  @keyframes popup {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }

  @keyframes popdown {
    from {
      width: 75%;
    }
    to {
      width: 0;
    }
  }
}

.navbar .dropdown-list li {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 8px 10px;
  transition: filter 200ms;
  cursor: pointer;
}

.navbar .dropdown-list #new-workout-link-dropdown {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
}

.navbar .dropdown-list li:hover {
  filter: brightness(1.2);
}

.navbar .title {
  display: inline-block;
  font-size: 46px;
  text-decoration: none;
  color: var(--accent-color);
}

.nav-links {
  margin: 0 auto;
  display: flex;
  width: 60%;
  min-width: 350px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.navbar .new-workout-link,
.navbar .logout {
  margin-left: 10%;
  font-size: 40px;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  background-color: transparent;
  border: none;
}

.navbar .new-workout-link::after,
.navbar .logout::after {
  content: "";
  width: 0;
  height: 6px;
  border-radius: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -10px;
  left: 0;
  animation: 200ms underline-out ease-in forwards;
}

.navbar .new-workout-link:hover::after,
.navbar .new-workout-link:focus::after,
.navbar .logout:hover::after,
.navbar .logout:focus::after {
  animation: 200ms underline-in ease-out forwards;
}

@keyframes underline-out {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes underline-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .navbar {
    display: inline-block;
    padding-bottom: 0;
  }

  .navbar .title-and-dropdown {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .navbar .title {
    margin: 0;
    padding: 0;
  }

  .navbar .dropdown {
    margin-right: 10px;
  }

  .navbar .nav-links {
    display: none;
  }
}

/* Search Bar */

.home .search-bar {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
  display: flex;
}

.home .search-bar .search-input {
  padding: 5px 20px;
  border-radius: 30px;
  border: 3px solid #222;
  width: 100%;
  font-size: 30px;
  outline: none;
}

.search-bar .search-input:focus {
  border-color: var(--accent-color);
}

/* workout list */

.content {
  max-width: 800px;
  margin: 30px auto;
  padding-bottom: 30px;
}

.content .title {
  text-align: center;
}

.workout-list {
  margin-top: 30px;
  text-align: left;
}

.workout-list .workout {
  border: 4px solid var(--accent-color);
  border-radius: 40px;
  font-size: 40px;
  color: var(--text-color);
  padding: 10px 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-list .workout button {
  height: fit-content;
  padding: 5px 8px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid red;
  font-weight: 400;
  color: red;
  font-size: 20px;
  background-color: rgb(0 0 0 / 0);
}

.workout-list .workout button:hover,
.workout-list .workout button:focus,
.workout-list .workout:hover,
.workout-list .workout:focus {
  box-shadow: 2px 4px 4px rgb(2 2 2 / 0.5);
}

#workout-link {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
}

@media screen and (max-width: 880px) {
  .content {
    width: 100%;
    padding: 0 0;
    padding-bottom: 20px;
  }
  .workout-list .workout {
    margin: 0 10px;
    margin-bottom: 40px;
  }
}

/* new workout */

.new-workout {
  text-align: center;
  font-size: 32px;
}

.new-workout label,
.new-workout input {
  display: block;
}

.new-workout .workout-input,
.new-workout .exercise-input {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px solid #222;
  padding: 2px;
  outline: none;
  font-size: 30px;
  text-align: center;
}

.new-workout input:focus {
  border-color: var(--accent-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-exercise {
  border: 4px solid var(--accent-color);
  border-radius: 40px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.add-exercise input,
.add-exercise label,
#delete-set {
  display: inline;
}

#delete-set {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#delete-set:hover {
  color: white;
  animation: 200ms fadeRed forwards;
}

#delete-set:hover::after {
  animation: 200ms circleRed forwards;
}

#delete-set::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: 100%;
  height: 70%;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
}

@keyframes circleRed {
  to {
    border: 2px solid red;
  }
}

@keyframes fadeRed {
  to {
    color: red;
  }
}

.add-exercise label {
  margin-right: 20px;
}

.add-exercise .exercise-input {
  width: 60%;
}

.add-exercise .rep-input,
.add-exercise .weight-input {
  width: 2em;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #222;
  padding: 2px;
  outline: none;
  font-size: 30px;
  text-align: center;
}

.add-exercise .set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.add-exercise .new-reps,
.add-exercise .new-weights {
  display: flex;
  justify-content: center;
}

.add-exercise button {
  padding: 4px 8px;
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 30px;
}

.add-exercise button:hover,
.add-exercise button:focus {
  color: var(--accent-color);
}

#add-exercise-button {
  margin-top: 30px;
  padding: 4px 8px;
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 30px;
}

#add-exercise-button:hover,
#add-exercise-button:focus {
  color: var(--accent-color);
}

.remove-ex {
  margin-top: 10px;
  padding: 4px 8px;
  color: var(--text-color);
  background: none;
  border: 2px solid red;
  color: red;
  border-radius: 20px;
  font-size: 26px;
}

.remove-ex:hover,
.remove-ex:focus {
  box-shadow: 2px 4px 4px rgb(2 2 2 / 0.5);
}

#submit-button,
#modify-button,
.resetCal,
.add-cals button {
  font-size: 30px;
  color: var(--background-color);
  background-color: var(--accent-color);
  width: 80%;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  margin-top: 70px;
}

#submit-button:hover,
#modify-button:hover,
.resetCal:hover,
.add-cals button:hover {
  box-shadow: 2px 4px 4px #222;
}

.error-post {
  margin-top: 30px;
}

@media screen and (max-width: 880px) {
  .new-workout {
    padding: 0 10px;
  }

  .new-workout .exercise-label {
    display: block;
    text-align: center;
    margin-right: 0;
  }

  .new-workout .exercise-input {
    display: block;
    width: 80%;
  }

  .new-workout #delete-set {
    display: block;
  }
}

/* details page */

.workout-details {
  text-align: left;
  padding-bottom: 30px;
}

.workout-details .workout .title {
  position: relative;
  text-align: center;
  font-size: 46px;
  width: fit-content;
  margin: 0 auto;
  color: var(--accent-color);
  margin-bottom: 40px;
}

.workout-details .workout .title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: var(--accent-color);
}

.workout-details .workout .exercise h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.workout-details .workout .exercise .sets {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  margin-bottom: 40px;
}

.workout-details .workout .exercise .sets .set {
  display: flex;
  justify-content: space-between;
}

.set .rep-buttons,
.set .weight-buttons {
  display: flex;
  justify-content: space-evenly;
  color: var(--text-color);
  height: fit-content;
  max-width: 300px;
  flex: 1;
}

#addRep,
#removeRep,
#addWeight,
#removeWeight {
  height: fit-content;
  font-size: 30px;
  padding: 0 5px;
  background: none;
  border-radius: 50%;
  border: none;
  color: inherit;
}

#addRep:hover,
#removeRep:hover,
#addWeight:hover,
#removeWeight:hover {
  color: var(--accent-color);
}

.set .workout-details {
  min-width: fit-content;
  flex: 0 0 auto;
}

.modify-workout {
  display: block;
  font-size: 30px;
  color: var(--background-color);
  background-color: var(--accent-color);
  width: 80%;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 70px;
}

.modify-workout:hover {
  box-shadow: 2px 4px 4px #222;
}

@media screen and (max-width: 880px) {
  .workout-details {
    margin: 0 10px;
    text-align: center;
  }
}

/* 404 Page */

.error-page {
  max-width: 800px;
  margin-top: 100px;
  display: flex;
}

.error-page .title {
  text-align: left;
}

.error-page h2 {
  font-size: 10em;
  color: var(--accent-color);
}

.error-page h3 {
  font-size: 3em;
}

.error-page p {
  font-size: 1.5em;
  padding: 8px 20px;
}

.error-page #home-link {
  text-decoration: none;
  color: var(--text-color);
  align-self: center;
  margin: 0 auto;
  border: 3px solid var(--accent-color);
  border-radius: 30px;
  transition: all 200ms;
}

.error-page #home-link:hover,
.error-page #home-link:focus {
  border: 8px solid var(--accent-color);
  box-shadow: 0 3px 4px var(--accent-color);
}

/* calorie counter */

.big-text {
  font-size: 8rem;
}

.med-text {
  font-size: 3rem;
}

.blue-border {
  border: 0.5rem solid var(--accent-color);
  border-radius: 1rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.pad-marg {
  padding: 0.2em 0.5em;
  margin: 3rem 0;
}

.upper {
  text-transform: uppercase;
}

.flex{
  display: flex;
}

.space-between {
  justify-content: space-between;
  align-items: baseline;
}

.food-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.food-item, .new-food-item {
  display: block;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--text-color);
  border: 0.4rem solid var(--accent-color);
  border-radius: 0.8rem;
  outline: none;
  width: fit-content;
  min-width: 20%;
  text-align: center;
  padding: 0.8em;
  margin: 1rem;
}

.food-item h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1em;
}

.food-item button,
.new-food-item button {
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--accent-color);
  margin-top: 0.5em;
}

.food-item button {
  color: red;
}

.toggle-new-food-button {
  font-size: 6rem;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  margin: 2rem;
}

.new-food-item input,
.add-cals input {
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px solid #222;
  padding: 2px;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
}

.new-food-item input:focus,
.add-cals input:focus {
  border: 2px solid var(--accent-color);
}

.resetCal {
  display: block;
  margin: 0 auto;
}

.add-cals {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.add-cals button {
  width: 5rem;
  margin-top: 0;
  margin-left: 2rem;
  font-size: 1.5rem;
  padding: 0.25em;
  border-radius: 10px;
}

@media only screen and (max-width: 880px) {
  .CalCounter {
    margin-inline: 1rem;
  }
  .CalCounter .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .add-cals input {
    width: 65%;
  }
}

/* Biometrics */

.biometrics-div {
  display: flex;
  font-size: 2rem;
}

.bodypart-name {
  margin-bottom: 2rem;
}

.bodypart-selector {
  width: 45%;
}

.body-weight {
  position: absolute;
  z-index: 1;
}

.size-values {
  border: 0.25rem solid var(--accent-color);
  border-radius: 0.75rem;
  padding: 0.5em;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.current-size {
  font-size: 3rem;
}

.current-size-value {
  margin-left: 1em;
  font-size: 3.5rem;
  font-weight: 600;
}

.last-size {
  filter: brightness(0.9);
}

.size-growth {
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.size-growth svg {
  margin-right: 0.25em;
}

.size-input {
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--text-color);
  background: none;
  width: 5em;
  border: none;
  border-bottom: 0.15rem solid var(--text-color);
  font-size: 2rem;
  margin-right: 0.5em;
}

.size-input:focus {
  border: none;
  border-bottom: 0.15rem solid var(--accent-color);
  outline: none;
}

.add-size-button {
  text-transform: uppercase;
  border: 0.2rem solid var(--accent-color);
  border-radius: 0.75rem;
  background: none;
  color: var(--text-color);
  margin-left: 1em;
  padding: 0.2em 0.3em;
  font-size: 1.5rem;
}

.select-weight {
  background-color: transparent;
  border: none;
}

/* Body svg */

#body-svg-parent {
  position: relative;
  z-index: 0;
  width: 20rem;
}

@media only screen and (max-width: 800px) {
  .biometrics-div {
    flex-wrap: wrap;
    margin: 0 1rem;
  }

  .body-info {
    width: 100%;
    padding-bottom: 40vh;
  }
  
  .bodypart-selector {
    width: min(100%, 80vh/1.7);
    margin: 0 auto;
    height: 90vh;
    max-width: 360px;
  }
  
  #body-svg-parent {
    width: 100%;
  }

  .bodypart-name {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
  }

  .new-size-value {
    width: fit-content;
    margin: 0 auto;
  }

} 

#body-svg path{
  fill: none;
  pointer-events: all;
  stroke-width: 0.05rem;
  stroke: var(--text-color);
}

#body-svg path:hover {
  stroke: var(--accent-color);
}

/* Scale svg */

#scale-svg {
  fill: var(--text-color);
}

#scale-svg:hover {
  fill: var(--accent-color);
}